.posts {
    padding: 3rem;
    
    &__entry {
        font-size: 1.5rem;
        &_title {
            &_link:link,
            &_link:visited {
                text-decoration: none;
                color: rgb(74, 95, 119);
            }
        }
    
        &:not(:last-child) {
            margin-bottom: 3rem;
            padding-bottom: 4rem;
            border-bottom: 1px solid black;
        }
    }
}