body { min-height: 100%; }

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.9fr .1fr;
    min-height: 100vh;
    grid-template-areas: 
    "body links"
    "footer footer";
    justify-items: stretch;
}

.welcome {
    grid-area: body;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: darkslategray;
}

.links {
    grid-area: links;
    align-self: center;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

footer {
    grid-area: footer;
    text-align: center;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: end;
}

span {
    opacity: 0;
    transition: all 1s ease;
    transform: translateY(50px);
}

span.fade {
    opacity: 1;
}