ul {
    list-style: none;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
    grid-template-areas: 
    "body links";

    .welcome {
        .introduction {
            top: 0;
            padding: 3rem;
        }

        .image-container {
            top: 3rem;
        }
    }
}

@media (max-width: 700px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            'body'
            'links';
        .welcome {
            .introduction {
                top: 0;
                padding: 3rem;
            }
    
            .image-container {
                top: 3rem;
            }
        }
    }

}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            'body'
            'links'
    }

    .welcome {
        .introduction {
            top: 0;
            padding: 3rem;
        }

        .image-container {
            top: 3rem;
        }
    }
}

@media (max-width: 1024px) {
    .welcome {
        .introduction {
            position: relative;
            top: -15rem;
            padding: 3rem;
        }
    }
}

.welcome {
    grid-area: body;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: darkslategray;
    color: white;
    font-size: 2.5rem;
}

.links {
    grid-area: links;
    align-self: center;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    &__link {
        &-dest {
            color: black;
            text-decoration: none; 
            font-size: 2rem;

            &:hover {
                color:  black; 
                text-decoration: none; 
            }
        }
    }
}

.links li {
    padding: 1.5rem;
}

.image-container {
    width: 50%;
    height: 50%;
    position: relative;
    margin-bottom: 4rem;
    top: -7rem;
}

.headshot {
    clip-path: circle();
}
